<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Kanban Spring - Tasks</title>
</head>
<body>

	<main>


		<table border="1">
			<thead>
				<tr>
					<td>Id</td>
					<td>Title</td>
					<td>Status</td>
					<td>Expected duration</td>
					<td>Assignee</td>
					<td>Reporter</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="t : ${tasks}">
					<td th:text="${t.id}"></td>
					<td th:text="${t.title}"></td>
					<td th:text="${t.status}"></td>
					<td th:text="${(t.expectedDuration == -1)? 'not set': t.expectedDuration}"></td>
					<td th:text="${t.assignee?.username}"></td>
					<td th:text="${t.reporter?.username}"></td>
				</tr>
			</tbody>
		</table>

	</main>

</body>
</html>