<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="uft-8">
	<title th:text="${project.name}"></title>
	<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

	<h1 th:text="${project.name}"></h1>
	<p th:text="'brought to you by ' + ${project.team?.name} "></p>

	<p th:if="${project.tasks.size() == 0}">Tasks are yet to be added to this project</p>

	<p class="button">
		<a th:href="@{/projects/{name}/tasks/new(name=${project.name})}">Add task</a>
	</p>

	<h5 th:each="t : ${project.tasks}">
		<a th:href="@{/tasks/{tid}(tid=${t.id})}" th:text="${t.title}"></a>
	</h5>



</body>
</html>